[submodule "Onyx.Engine/vendor/spdlog"]
	path = Onyx.Engine/vendor/spdlog
	url = ../../gabime/spdlog.git
[submodule "Onyx.Engine/vendor/GLFW"]
	path = Onyx.Engine/vendor/GLFW
	url = ../../Eearslya/glfw.git
[submodule "Onyx.Engine/vendor/imgui"]
	path = Onyx.Engine/vendor/imgui
	url = ../../Eearslya/imgui.git
[submodule "Onyx.Engine/vendor/glm"]
	path = Onyx.Engine/vendor/glm
	url = ../../g-truc/glm.git
